


body{
    background-color: #efb54a;
    margin: 0px;
    padding: 0px;
}


.cup{
    height:140px;
    width:180px;
    border: 6px solid white;
    position: absolute;
    top:40%;
    left:40%;
    border-radius: 0px 0px 70px 70px;
    background:url(coffee.png);
}


.handle{
    height: 70px;
    width: 40px;
    background-color: transparent;
    border: 6px solid white;
    position: relative;
    left: 186px;
    top: 5px;
    border-radius: 0px 25px 80px 0px;
}






























