

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background:grey;
  z-index: 10;
}



#loader-wrapper .loader-section.section-right {
  right: 0;
}



.loaded #loader-wrapper {
  visibility: hidden;
  transform: translateY(-100%);
}









.cup{
    height:140px;
    width:180px;
    border: 6px solid #efb54a;
    position: absolute;
    top:40%;
    left:45%;
    border-radius: 0px 0px 70px 70px;
    background:url(coffee.png);
    box-shadow: 0px 0px 0px 6px white;
    
    background-repeat: repeat-x;
    background-position: 0px 140px;
    animation: fill 4s infinite;
    z-index: 11111;
}

@keyframes fill{
    0%{
        background-position: 0px 140px;
    }
    
    20%{
        background-position: -450px 100px;
    }
    40%{
        background-position: -900px 50px;
    }
    80%{
        background-position: -1350px -40px;
    }
    
    100%{
        background-position: 0px 140px;
    }
    
}


.handle{
    height: 70px;
    width: 40px;
    background-color: transparent;
    border: 6px solid white;
    position: relative;
    left: 186px;
    top: 5px;
    border-radius: 0px 25px 80px 0px;
    z-index: 11111;
}





